<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
        <div class="container">
        <div class="jumbotron text-center">
            <h1 align = "center"><strong>Mission to Mars</strong></h1>
                <p align = "center">
                    <a class="btn btn-primary btn lg" href="{{ url_for('scraper') }}" role="button">Scrape New Data</a>
                </p>
        </div>
        </div>
     <div class = "row">
        <div class="col-md-12">
             <h3>Latest Mars News</h3>
              <h5>{{mars_data.title}}</h5>
             <p>{{mars_data.summary}}</p>
             <br>            
        </div>
     </div>
     <div class = "row">
        <div class = "col-md-8">
            <h3>Featured Mars Image</h3>

            <img src="{{ mars_data.image_url}}"style="width: 80%;"/>

            <img src="{{ mars_data.image_url}}" style ="float:left"/>

        </div>
        <div class = "col-md-4">
            <h4> Current Weather on Mars </h4>
            <p>{{ mars_data.mars_weather}}</p>
            <br>
            <h4> Mars Facts </h4>

            <p>{{mars_data.mars_info | safe}}</p>
        </div>

        </div>
        <div class ="row" >
        <div class = "col-md-12">
            <h3><b><center>Mars Hemispheres</center></b></h3> 
            {% for hemisphere in mars_data.hemisphere_image_urls %}

            
                <div class = "col-md-6">
                    <img src = "{{hemisphere['img_url']}}" style="width:50%;">
                    <h3>{{hemisphere.Title}}</h3>

                <div class = "col-md-6">
                    <img src = "{{hemisphere.img_url}}">
                    <h3>{{hemisphere.Title}}</h3>

                </div>
            {% endfor %}
         </div>
         </div>
</body>

</html>



